@charset "utf-8";

.service {
    max-width: 960px;
    background-color: #eeeeee;
    margin: auto;
    padding: 50px 40px;
}

.section-title {
    text-align: center;
    font-size: 30px;
    color: lightseagreen;
}

ul {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

@media screen and (max-width: 400px) {
    ul {
        display: block;
    }
}

li {
    width: 32%;
    background-color: #ffffff;
}

@media screen and (max-width: 400px) {
    li {
        width: 100%;
        margin-bottom: 10%;
    }
}

.content-text {
    position: relative;
}
.content-title {
    padding: 10px;
    color: lightseagreen;
}

.content-title::before {
    content: "";
    position: absolute;
    left: 5px;
    width: 5px;
    height: 17px;
    background-color: lightseagreen;
}
