@charset "utf-8";

body {
    background-color: #fafafb;
    margin: 0 auto;
}

/* header-------------------------------------------------------- */
.header__inner {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding-left: 4%; /* 60/1366=0.0439 → 4% */
    padding-right: 4%; /* 50/1366=0.0366 → 3% */
    height: 100px;
    background-color: rgba(250, 250, 251, 50%);
    /* ヘッダーを浮かせる */
    position: absolute;
    z-index: 9997;
    top: 0;
}

.logo {
    text-align: center;
}

.logo__top {
    font-size: 32px;
    font-weight: normal;
    line-height: 1;
}

.logo__bottom {
    font-size: 12px;
}

.header__nav ul {
    display: flex;
    gap: 140px;
}

.sp-menu__btn {
    display: none;
}

.sp-header__nav {
    display: none;
}

/* nav部分余白調整 */
@media screen and (max-width: 1000px) {
    .header__nav ul {
        display: flex;
        gap: 80px;
    }
}

/* ハンバーガーメニュー-------------------------------------------------------- */
@media screen and (max-width: 767px) {
    .header__nav {
        display: none;
    }
    .sp-menu__btn {
        display: block;
        width: 28px;
        height: 60px;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        z-index: 9999;
        transition: 0.5s;
    }
    .sp-menu__btn span {
        position: absolute;
        content: "";
        width: 28px;
        height: 1px;
        background-color: #47455a;
        top: 30px;
        transition: 0.5s;
    }
    .sp-menu__btn span::before {
        position: absolute;
        content: "";
        width: 28px;
        height: 1px;
        background-color: #47455a;
        top: -10px;
        transition: 0.5s;
    }
    .sp-menu__btn span::after {
        position: absolute;
        content: "";
        width: 28px;
        height: 1px;
        background-color: #47455a;
        bottom: -10px;
        transition: 0.5s;
    }
}

.open span {
    background-color: transparent;
}
.open span::before {
    transform: rotate(-40deg);
    top: 0;
}
.open span::after {
    transform: rotate(45deg);
    bottom: 0;
}

.sp-header__nav {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(250, 250, 251, 85%);
    z-index: 9998;
}

/* Close表記 */
.sp-header__nav::before {
    position: absolute;
    content: "Close";
    font-size: 14px;
    font-weight: 400;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    top: 12%;
    right: 23px;
}

.sp-header__nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    gap: 70px;
}

.nav-logo {
    padding-bottom: 60px;
}

.sp-header__nav li {
    font-size: 18px;
    text-align: center;
}

/* トップページへ戻るボタン-------------------------------------------------------- */
.toTop {
    position: fixed;
    font-size: 14px;
    writing-mode: vertical-rl;
    right: 20px;
    bottom: 200px;
    z-index: 9999;
}

.toTop__item {
    position: relative;
}

.toTop__item:before {
    position: absolute;
    content: "";
    border-top: solid 1px #03001d;
    border-right: solid 1px #03001d;
    width: 10px;
    height: 10px;
    transform: rotate(-45deg);
    top: -15px;
    left: 8px;
}

/* メインビジュアル-------------------------------------------------------- */
.main__visual {
    background: url(../images/main.png) center / cover no-repeat;
    width: 100%;
    padding-bottom: 59.7%;
    position: relative;
}

.main_sen {
    position: absolute;
    width: 95%;
    top: 38%;
}

.concept {
    position: absolute;
    top: 56%;
    left: 13.5%;
}

/* コンセプトのレスポンシブ対応 */
@media screen and (min-width: 1400px) {
    .concept {
        top: 58%;
        left: 18%;
    }
}

.concept__heading {
    font-size: 16px;
    font-family: fot-klee-pro, sans-serif;
    font-style: normal;
    font-weight: 500;
    padding-bottom: 7%;
}

.concept__text {
    font-size: 12px;
    font-family: fot-klee-pro, sans-serif;
    font-style: normal;
    font-weight: 500;
}

/* SP表示用 */
@media screen and (max-width: 767px) {
    .header__inner {
        background-color: unset;
    }
    .main__visual {
        background: url(../images/main_sp@2x.png) center / cover no-repeat;
        width: 100%;
        height: 600px;
        background-position: bottom;
    }
    .main_sen {
        top: auto;
        bottom: 10%;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
    }
    .main_sen > img {
        object-fit: cover;
        height: 186px;
    }
    .concept {
        width: 375px;
        top: 38%;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
    }
}

/* 改行・レスポンシブ調整 */
.tab {
    display: none;
}

@media screen and (max-width: 1049px) {
    .pc {
        display: none;
    }
    .tab {
        display: block;
    }
}

@media screen and (max-width: 767px) {
    .pc {
        display: block;
    }
    .tab {
        display: none;
    }
}

/* できること-------------------------------------------------------- */
.skill {
    padding-top: 130px;
}

.section__title {
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 86px;
}

.skill__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 72px;
}

.skill__inner {
    width: 320px;
    background-color: #fff;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 55px;
    padding-bottom: 77px;
}

.skill__inner__img {
    width: 95px;
    padding-bottom: 35px;
}

.skill__inner__item {
    width: 245px;
}

.skill__inner__title {
    position: relative;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 60px;
}

.skill__inner__title::after {
    position: absolute;
    content: "";
    width: 200px;
    height: 1px;
    background-color: #81808e;
    top: 88px;
    right: 22px;
}

.skill__inner__text {
    font-size: 14px;
}

.skill__inner__tool__design {
    padding-top: 37px;
}

.skill__inner__tool__coding {
    padding-top: 61px;
}

/* 制作物-------------------------------------------------------- */
.work {
    padding-top: 184px;
    max-width: 1286px;
    margin: 0 auto;
}

.slider {
    margin: 0 40px;
}

.work__bottom {
    padding-top: 173px;
}

.work__item {
    width: 336px;
    margin-left: 42px;
    margin-right: 42px;
}

.work__item__area {
    width: 336px;
    height: 280px;
    background-color: #fff;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work__item__img {
    width: 256px;
}

.work__item__img__square {
    width: 200px;
}

.work__item__bottom {
    position: relative;
    display: flex;
    padding-top: 15px;
    width: 336px;
}

.work__category {
    padding-top: 11px;
}

.work__category__web {
    padding-left: 30px;
}

.work__category__banner {
    padding-left: 3px;
}

.work__title {
    padding-left: 60px;
}

.work__title__sub {
    font-size: 12px;
}

.work__title__sub::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 37px;
    background-color: #03001d;
    top: 30%;
    left: 24%;
}

.work__title__main {
    font-size: 16px;
}

/* hover */
.work__item__area {
    position: relative;
}

.hover__mask {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    font-size: 18px;
    background-color: rgba(71, 84, 90, 0.6);
    border-radius: 7px;
    color: #fff;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.hover__mask > p {
    color: #fff;
}

.hover__mask:hover {
    opacity: 1;
}

/* スライドショーの矢印変更 */
.prev {
    border-top: solid 1px #03001d;
    border-left: solid 1px #03001d;
    width: 14px;
    height: 14px;
    transform: rotate(-45deg);
}
.next {
    border-top: solid 1px #03001d;
    border-right: solid 1px #03001d;
    width: 14px;
    height: 14px;
    transform: rotate(45deg);
}
.prev.slick-arrow {
    position: absolute;
    top: 40%;
    left: 18px;
}
.next.slick-arrow {
    position: absolute;
    top: 40%;
    right: 2px;
}

.work__bottom .prev.slick-arrow {
    top: 60%;
}

.work__bottom .next.slick-arrow {
    top: 60%;
}

.button__container {
    text-align: center;
    padding-top: 113px;
}

.more__button {
    position: relative;
    display: inline-block;
    width: 115px;
    height: 20px;
    border-left: 1px solid #03001d;
    border-bottom: 1px solid #03001d;
    text-align: center;
    padding-bottom: 10px;
    transition: 0.5s;
}

.more__button::after {
    position: absolute;
    content: "";
    width: 115px;
    height: 1px;
    background-color: #03001d;
    bottom: -5px;
    left: 3px;
}

.more__button:hover {
    transform: translate(3px, 5px);
}

.more__button:hover::after {
    display: none;
}

.sen__3rd {
    padding-top: 112px;
    padding-bottom: 145px;
}
/* @media screen and (max-width: 767px) {
    .sen__3rd {
        padding-bottom: 246px;
    }
} */

/* 自己紹介-------------------------------------------------------- */
.about {
    position: relative;
    padding-bottom: 270px;
}

.about__pic {
    position: absolute;
    top: 105px;
    width: 100%;
}

.about__wrapper {
    max-width: 810px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 15%;
}

.about__name {
    font-size: 18px;
    position: relative;
    padding-left: 18px;
    padding-bottom: 30px;
}

.about__name::before {
    position: absolute;
    content: "";
    width: 7px;
    height: 25px;
    background-color: #03001d;
    top: 2px;
    left: 2px;
}

.about__text {
    font-size: 14px;
}

.about__pc__button__container {
    padding-top: 60px;
}

.about__sp__button__container {
    display: none;
}

@media screen and (max-width: 767px) {
    .sen__3rd {
        display: none;
    }
    .about {
        padding-top: 250px;
    }
    .about__pic {
        top: 8%;
    }
    .about__wrapper {
        flex-direction: column;
        padding-top: 85%;
        gap: 27px;
    }
    .about__inner {
        width: 315px;
        margin: 0 auto;
    }
    .about__img {
        width: 336px;
        margin: 0 auto;
    }
    .about__sp__button__container {
        display: block;
        padding-top: 60px;
    }
    .about__pc__button__container {
        display: none;
    }
}

/* @media screen and (min-width: 768px) and (max-width: 840px) {
    .sen__3rd {
        display: none;
    }
    .about {
        padding-top: 250px;
    }
    .about__pic {
        top: 240px;
    }
    .about__wrapper {
        padding: 100px 30px 0;
    }
} */
@media screen and (min-width: 768px) and (max-width: 1230px) {
    /* .sen__3rd {
        display: none;
    }
    .about {
        padding-top: 250px;
    } */
    .about__pic {
        top: 360px;
    }
    .about__wrapper {
        padding: 0 30px 0;
    }
}

/* @media screen and (min-width: 768px) and (max-width: 1200px) {
    img.board_sen {
        height: 719px;
        object-fit: cover;
        object-position: 20%;
    }
    .about__wrapper {
        flex-direction: column;
        gap: 430px;
        margin: 0;
    }
    .about__inner {
        width: 315px;
        margin: 0 auto;
    }
    .about__img {
        width: 336px;
        margin: 0 auto;
    }
} */

/* お問い合わせ-------------------------------------------------------- */
.contact {
    padding-top: 150px;
}

.contact__text {
    text-align: center;
}

.contact__more__button {
    width: 175px;
}

.contact__more__button::after {
    width: 175px;
}

@media screen and (min-width: 768px) {
    .sp {
        display: none;
    }
}
@media screen and (min-width: 1400px) {
    .contact {
        padding-top: 300px;
    }
}

/* フッター */
.footer__container {
    position: relative;
}

.footer__inner {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 22%;
}

.footer__nav ul {
    display: flex;
    justify-content: space-between;
    padding-top: 90px;
    padding-bottom: 80px;
    font-size: 18px;
}

.copy {
    font-size: 12px;
}

/* SP表示用 */
@media screen and (max-width: 767px) {
    .footer__nav ul {
        flex-direction: column;
        gap: 50px;
    }
}

/* レスポンシブ調整 */
@media screen and (max-width: 1169px) {
    .footer__inner {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 80%;
    }
    .footer__nav ul {
        padding-top: 0;
        padding-bottom: 0;
    }
}

/* 制作一覧ページ-------------------------------------------------------- */
.work-header__img {
    display: flex;
    height: 100px;
}

.work__main {
    position: relative;
    margin: 0 auto;
}

/* パンくずリスト */
.breadcrumb__area {
    position: absolute;
    left: 6%;
}

.breadcrumb {
    display: flex;
    gap: 0 22px;
    list-style: none;
    margin-top: 45px;
    padding-inline-start: 0;
    font-size: 12px;
}

.breadcrumb li {
    display: flex;
    align-items: center;
}

.breadcrumb li:not(:last-child)::after {
    display: inline-block;
    transform: rotate(45deg);
    width: 5px;
    height: 5px;
    margin-left: 10px;
    border-top: 1px solid #81808e;
    border-right: 1px solid #81808e;
    content: "";
}

.all__work__title {
    padding-top: 100px;
    padding-bottom: 0px;
}

.all__work {
    max-width: 1192px;
    padding-top: 175px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 105px 7%;
}

.all__work__item {
    margin-left: 0px;
    margin-right: 0px;
}

.all__work__text {
    font-size: 16px;
    padding-top: 106px;
    padding-bottom: 75px;
    text-align: center;
}

.all__work__link {
    text-decoration: underline;
    color: #b3b2bb;
}

/* 自己紹介ページ-------------------------------------------------------- */
.about__title {
    padding-top: 100px;
}

.about__page__pic {
    top: 200px;
}

@media screen and (min-width: 890px) and (max-width: 1149px) {
    .about__page__pic img {
        height: 606px;
        object-fit: cover;
    }
}
@media screen and (max-width: 889px) {
    .about__page__pic {
        top: 76px;
    }
    .about__page__wrapper {
        padding-top: 200px;
    }
}
@media screen and (max-width: 767px) {
    .about__page {
        padding-top: 120px;
    }
    .about__page > section {
        padding-top: 0;
        padding-bottom: 50px;
    }
    .about__page__pic {
        top: -10px;
    }
    .about__page__wrapper {
        padding-top: 660px;
    }
}
@media screen and (max-width: 599px) {
    .about__page__wrapper {
        padding-top: 550px;
    }
}
@media screen and (max-width: 459px) {
    .about__page__wrapper {
        padding-top: 450px;
    }
}

/* 経歴 */
.career {
    max-width: 842px;
    margin: 0 auto;
}

.career__flex {
    display: flex;
    font-size: 14px;
    padding: 0 30px;
}

.career__flex__left {
    width: 11%;
    padding-top: 45px;
    border-right: 1px solid #03001d;
}

.career__flex__right {
    position: relative;
    width: 82%;
    margin-inline-start: 7%;
    padding-top: 45px;
}

.career__flex__right::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #03001d;
    background-color: #fff;
    top: 45px;
    left: -11%;
}

@media screen and (max-width: 767px) {
    .career > h2 {
        padding-bottom: 55px;
    }
    .career__flex {
        flex-direction: column;
        padding: 0 30px 68px;
    }
    .career__flex__left {
        border: none;
    }
    .career__flex__right {
        margin-inline-start: unset;
        width: 100%;
        padding-top: 38px;
    }
    .career__flex__right:before {
        width: 100%;
        height: 1px;
        border: none;
        background-color: #cdccd2;
        top: 17px;
        left: auto;
    }
}
@media screen and (min-width: 1340px) {
    .career {
        padding-top: 200px;
    }
}
@media screen and (min-width: 1700px) {
    .career {
        padding-top: 400px;
    }
}

/* これから */
.future__title {
    padding-top: 230px;
}

.future__text {
    width: 472px;
    margin: 0 auto;
    padding-bottom: 50px;
}

@media screen and (max-width: 767px) {
    .future__title {
        padding-top: 140px;
        padding-bottom: 66px;
    }
    .future__text {
        padding: 0 15% 50px;
        width: 100%;
    }
}

/* お問い合わせページ-------------------------------------------------------- */
.contact__title {
    padding-top: 145px;
}

.contact__page__text {
    font-size: 14px;
    text-align: center;
    padding-bottom: 75px;
}

.c-form {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 30px;
}

.c-form__item {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}

.c-form__label {
    padding-bottom: 18px;
    font-size: 14px;
}

.c-form__required {
    font-size: 12px;
}

.c-form__input {
    height: 50px;
    border: none;
}

#field-message {
    height: 150px;
}

.c-form__submit {
    text-align: center;
    padding-top: 35px;
}

.c-form__button {
    font-size: 14px;
    line-height: 1.75;
    width: 118px;
    padding-bottom: 25px;
}

button.more__button:after {
    width: 118px;
}

@media screen and (max-width: 767px) {
    #field-message {
        height: 336px;
    }
}

/* お問い合わせページ-------------------------------------------------------- */
.thanks__wrapper {
    max-width: 610px;
    margin: 0 auto;
    text-align: center;
    padding-top: 188px;
}

.thanks__text {
    font-size: 14px;
    padding-bottom: 108px;
}

@media screen and (max-width: 767px) {
    .letter_sen {
        width: 70%;
    }
    .contact__button__container {
        padding-bottom: 25px;
    }
}

/* 制作詳細ページ-------------------------------------------------------- */
.work__item__main {
    position: relative;
}

.item__breadcrumb__area {
    position: absolute;
}

.mockUp__img {
    max-width: 457px;
    padding-bottom: 128px;
}

.detail {
    max-width: 870px;
    margin: 0 auto;
    text-align: center;
    padding-top: 202px;
}

.detail__area {
    text-align: left;
    padding: 0 30px;
}

.detail__title {
    position: relative;
    font-size: 30px;
    font-weight: 400;
    padding-left: 30px;
}

.detail__title:before {
    position: absolute;
    content: "";
    width: 10px;
    height: 85px;
    background-color: #03001d;
    top: 6px;
    left: 2px;
}

.detail__wrapper {
    padding-top: 74px;
    padding-bottom: 74px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.detail__item {
    position: relative;
    display: flex;
    gap: 24px;
}

.detail__item:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #cdccd2;
    bottom: -18px;
    left: 0;
}
@media screen and (mix-width: 768px) {
    .detail__item:last-child::after {
        content: none;
    }
    .sp {
        display: none;
    }
}

.detail__category {
    width: 98px;
}

.item__img {
    max-width: 1120px;
    padding: 0 30px;
    margin: 0 auto;
    display: flex;
    gap: 4%;
}

.item__sp {
    display: none;
}

.item__img__notes {
    display: none;
}

.item__img__pc {
    max-width: 76%;
    height: -webkit-fill-available;
}

.item__img__sp {
    max-width: 20%;
}

@media screen and (max-width: 767px) {
    img.mockUp__img {
        max-width: 64%;
    }
    .detail__wrapper {
        padding-bottom: 122px;
    }
    .detail__item {
        flex-direction: column;
        padding: 0 30px 28px;
    }
    .detail__item:after {
        width: calc(100% - 60px);
        left: 50%;
        transform: translateX(-50%);
        top: 35px;
    }
    .pc__only {
        display: none;
    }
    .item__img {
        display: none;
    }
    .item__sp {
        position: relative;
        display: block;
        text-align: center;
    }
    .item__sp::before {
        position: absolute;
        content: "PC表示";
        color: #47455a;
        font-size: 12px;
        top: -25px;
        left: 15%;
    }
    .item__sp:after {
        position: absolute;
        content: "SP表示";
        color: #47455a;
        font-size: 12px;
        bottom: 305px;
        left: 15%;
    }
    .item__img__pc {
        max-width: 70%;
        height: 300px;
        object-fit: cover;
        object-position: top;
        padding-bottom: 100px;
    }
    .item__img__sp {
        max-width: 54%;
        height: 300px;
        object-fit: cover;
        object-position: top;
    }
}

/* ページネーション */
.pagination__area__sp {
    display: none;
}

.pagination__area {
    max-width: 700px;
    margin: 0 auto;
    padding-top: 150px;
}

.pagination {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    text-align: center;
    height: 60px;
}

.pagination__prev {
    position: relative;
    width: 140px;
    border: solid 1px #81808e;
    border-radius: 7px;
    padding-left: 25px;
    line-height: 60px;
}

.pagination__prev:before {
    position: absolute;
    content: "";
    border-top: solid 1px #03001d;
    border-right: solid 1px #03001d;
    width: 10px;
    height: 10px;
    transform: rotate(225deg);
    top: 22px;
    left: 30px;
}

.all__contents {
    width: 340px;
    line-height: 60px;
    border: solid 1px #81808e;
    border-radius: 7px;
    line-height: 60px;
}

.pagination__next {
    position: relative;
    width: 140px;
    border: solid 1px #81808e;
    border-radius: 7px;
    padding-right: 25px;
    line-height: 60px;
}

.pagination__next:after {
    position: absolute;
    content: "";
    border-top: solid 1px #03001d;
    border-right: solid 1px #03001d;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    top: 22px;
    right: 30px;
}

@media screen and (max-width: 767px) {
    .pagination__area {
        display: none;
    }
    .pagination__area__sp {
        display: block;
        padding: 94px 30px 125px;
    }
    .pagination__sp {
        justify-content: space-between;
        font-size: 16px;
    }
    .pagination__prev {
        width: 19%;
    }
    .pagination__prev:before {
        left: 45%;
    }
    .all__contents {
        width: 50%;
    }
    .pagination__next {
        width: 19%;
    }
    .pagination__next:after {
        right: 45%;
    }
}

/* lightboxその他設定 */
.lightboxOverlay {
    background-color: #47545a;
    opacity: 0.9;
}
.lb-outerContainer {
    width: 265px !important;
    height: 2695px !important;
    position: relative;
}
.lb-container {
    text-align: -webkit-center;
}
img.lb-image {
    width: 265px !important;
    height: 2695px !important;
    border: none !important;
    border-radius: 0px !important;
}
.lb-data .lb-close {
    width: 20px;
    height: 20px;
    background: url(../images/close.png) 50%;
    position: absolute;
    top: -40px;
    right: 15%;
}
