@charset "utf-8";

nav {
    max-width: 920px;
    margin: 0 auto;
}
ul {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
li {
    list-style: none;
}

@media screen and (max-width: 767px) {
    ul {
        flex-direction: column;
    }
}
