@charset "utf-8";

header {
    padding-top: 20px;
    padding-bottom: 20px;
}
.header-inner {
    max-width: 960px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}
@media screen and (max-width: 767px) {
    .header-inner {
        display: block;
    }
}

ul {
    display: flex;
    position: relative;
}
@media screen and (max-width: 767px) {
    ul {
        display: block;
        margin: 0 10px;
    }
}
li {
    padding: 0 20px;
}
li + li {
    border-left: 1px solid #4c4c4c;
}
@media screen and (max-width: 767px) {
    li + li {
        border-left: none;
    }
}
@media screen and (max-width: 767px) {
    li {
        border-bottom: 1px solid #4c4c4c;
        padding: 10px 0;
    }
}

.blue-box {
    max-width: 960px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}
.blue-box-item {
    width: 31.25%;
    height: 300px;
    background-color: blue;
}

.red-box {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}
.red-box-item {
    width: 31.25%;
    height: 300px;
    background-color: red;
}
